@import '../utils/variables';
@import '../utils/mixins';

.backdrop {
  background-color: $color-nineth;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.is-hidden {
  visibility: hidden;
  opacity: 1;
  pointer-events: all;
  display: none;
}

.modal {
  font-family: $montserrat;
  border-radius: 300px 0px;
  background-color: $background-color-tertiary;
  z-index: 20;
  display: block;
  max-width: 1034px;
  height: 99%;
  &__container {
    display: flex;
    flex-direction: row-reverse;
  }
}

.close {
  width: 25px;
  height: 25px;
  background-color: $background-color-tertiary;
  margin: 32px;
  border: $background-color-tertiary;
}

.gallery__modal {
  &__small {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__small > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  &__box {
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  &__image {
    width: 350px;
    height: 250px;
    margin-right: 25px;
  }
  &__title {
    font-weight: 600;
    color: $color-tertiary;
    text-align: left;
    font-size: 24px;
    margin: 0;
  }
  &__date {
    color: $color-secondary;
    text-align: left;
    font-size: 18px;
    font-family: $montserrat;
    font-weight: 400;
  }
  &__data__buy {
    margin-left: 40px;
    &-Price {
      display: flex;
      margin-bottom: 15px;
    }
  }
  &__buy {
    border-radius: 5px;
    background: $color-ten;
    color: $color-primary;
    font-size: 16px;
    font-family: $montserrat;
    font-weight: 500;
    padding: 10px 19px;
  }
  &__buy:hover {
    opacity: 0.8;
  }
  &__price {
    width: 219px;
  }
  &__more {
    border-radius: 5px;
    border: 1px solid $color-ten;
    color: $color-ten;
    font-size: 16px;
    font-family: $montserrat;
    font-weight: 500;
    background-color: $background-color-tertiary;
    padding: 10px 15px;
    width: 255px;
    margin: 0 auto;
  }
  &__more:hover {
    opacity: 0.7;
    background-color: $color-ten;
    color: $color-primary;
  }
  &__place {
    color: $color-secondary;
    text-align: left;
    font-size: 14px;
    font-family: $montserrat;
    font-weight: 600;
    &::before {
      content: url('../images/location.svg');
      display: inline-block;
      margin-right: 5px;
    }
  }
  &__data {
    display: flex;
    align-items: center;
    margin: 10px 40px;
    &__title {
      font-weight: 600;
      color: $color-tertiary;
      text-align: left;
      font-size: 16px;
    }
  }
}
.modalPlace:hover {
  cursor: url('../images/location.svg'), auto;
}

.gallery__modal__price::before,
.gallery__modal__vip::before {
  content: url('../images/code.svg');
  display: inline-block;
  margin-right: 5px;
}
@media screen and (max-width: 480px) {
  .modal {
    border-radius: 150px 0px;
  }
  .gallery__modal {
    &__image {
      display: none;
    }
    &__data__buy-Price {
      flex-direction: column;
    }
    &__more {
      width: 160px;
      height: 40px;
    }
  }
}
@media screen and (max-width: 768px) {
  .gallery__modal {
    &__title {
      font-size: 16px;
    }
    &__date {
      font-size: 12px;
    }
    &__more {
      font-size: 12px;
      padding: 5px;
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .modal {
    border-radius: 300px 0px;
  }
}
